header.header .logo a img {
    max-height: 110px;
}
header.header .logo {
    float: left;
    padding: 1px 0;
}
header.header .navigation {
    padding: 34px 0;
}
header.header .navigation ul.nav li a {
    font-size: 15px;
}
.minicart-wrap .toggle-minicart {
    font-size: 15px;
}
.the-menu-item .the-menu-body .xsm {
    overflow: visible;
    margin-bottom: 29px;
}
.the-menu-item .the-menu-body {
    overflow: hidden;
    display: inline-block;
    padding: 5px 100px;
}
.the-menu-item .the-menu-body p {
    height: auto;
}
.home-media .home-fixheight {
    max-height: 470px;
}
@media screen and (max-width: 749px) {
    .the-menu-item .the-menu-body {
        overflow: hidden;
        display: inline-block;
        padding: 5px 70px;
    }
}
@media screen and (min-width: 960px) {
    .home-banner-box {
        padding: 0 100px;
    }
}
@media screen and (max-width: 480px) {
    .the-menu-item .the-menu-body {
        overflow: hidden;
        display: inline-block;
        padding: 5px 0px;
    }
}
@media screen and (max-width: 768px) {
    .about-story .block-first, .about-story .block-last {
        margin: 20px 0;
    }
    .about-story .block-first .image-wrap img {
        padding: 0 70px;
    }
}
.about-story .block-first .image-wrap img {
   max-width: 261px;
}
.contact-first .contact-body .address {
    display: block;
    font-size: 16px;
    color: #fff;
}
.contact-first .contact-body .address {
    white-space: nowrap;
}
.no-line {
    padding-top: 0px;
    padding-bottom: 0px;
}
.color-white {
    color: white;
}
.minicart-wrap .minicart-body .minicart-list li .product-remove {
    right: 10px;
}
.bx-controls .bx-pager {
    bottom: 30px;
}
.border-product {
    border: 1px solid black;
}
.about-story .block-first, .about-story .block-last {
    margin: 1px 0;
}
header.header .logo a img {
    max-height: 126px;
}
header.header .navigation {
    padding: 14px 0 34px;
}
header.header .head-social {
    margin-bottom: 10px;
}
.section-content {
    padding-top: 40px;
}
.shop-table .product-quantity .quantity {
    background-color: #ffeecc;
}
.font-welcome {
    font-family: Quattrocento;
    font-weight: bold;
}
header.header .navigation ul.nav li a {
    font-weight: 600;
}
.minicart-wrap .toggle-minicart.active span {
    font-weight: 600;
}
.the-menu-item .the-menu-body .xsm {
    font-weight: 600;
}
ul.bxslider > li:before {
    display: none;

}
ul.bxslider > li {
    margin: 0;
    padding: 0;
}
ul.bxslider {
    margin: 0;
    padding: 0;
}
.bx-wrapper img {
    width: 100%;
}
.bx-wrapper .bx-caption span {
    margin-bottom: 10px;
    font-size: 1.1em !important;
    color: #fff !important;
    padding: 2px 10px !important;
}
.bx-wrapper .bx-caption {
    background: rgba(80, 80, 80, 0.4) !important;
}
@media screen and (max-width: 480px) {
    .bx-wrapper .bx-caption span {
        font-size: 0.7em !important;
    }
}
.xmd, h4 {
    font-size: 21px
}