header.header .logo a img {
    max-height: 70px;
}
header.header .logo {
    float: left;
    padding: 8px 0;
}
header.header .navigation {
    padding: 22px 0;
}
.the-menu-item .the-menu-body .xsm {
    overflow: visible;
    margin-bottom: 29px;
}
.the-menu-item .the-menu-body p {
    height: auto;
}