header.header .logo a img {
    max-height: 88px;
}
header.header .logo {
    float: left;
    padding: 8px 0;
}
header.header .navigation {
    padding: 30px 0;
}
header.header .navigation ul.nav li a {
    font-size: 15px;
}
.minicart-wrap .toggle-minicart {
    font-size: 15px;
}
.the-menu-item .the-menu-body .xsm {
    overflow: visible;
    margin-bottom: 29px;
}
.the-menu-item .the-menu-body {
    overflow: hidden;
    display: inline-block;
    padding: 5px 100px;
}
.the-menu-item .the-menu-body p {
    height: auto;
}
.home-media .home-fixheight {
    max-height: 470px;
}
@media screen and (max-width: 768px) {
    .the-menu-item .the-menu-body {
        overflow: hidden;
        display: inline-block;
        padding: 5px 0px;
    }
    .about-story .block-first, .about-story .block-last {
        margin: 20px 0;
    }
    .about-story .block-first .image-wrap img {
        padding: 0 70px;
    }
}
.about-story .block-first .image-wrap img {
   max-width: 300px
}
.contact-first .contact-body .address {
    display: block;
    font-size: 16px;
    color: #fff;
}
.contact-first .contact-body .address {
    white-space: nowrap;
}