.about-story .block-first p, .about-story .block-last p {
    margin-top: 0px;
    line-height: 1.5em;
}
.style-line {
  line-height: 1.8em !important;
}
/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.reservation-note textarea {
    width: 100%;
}
label.error {
    display: none !important;
}
.reservation  input.error {
    background: #FBE9E7;
}