<footer id="footer" class="footer">
    <div class="container">
        <div class="copyright text-center">
            Copyright &copy; 2016 Phở Sài Gòn 52 - All Right Reserved.<br/>
            Design by <%= link_to "Hoang Khang Incotech", "http://hoangkhang.com.vn/", target: "_blank" %>
        </div>
    </div>
</footer>