Form input Parent List Checkbox
<!--<div class="form-group field">
    <%= f.label "Parent Categories", class: "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <% Category.all.each do |category| %>
          <% if @category.id != category.id %>
              <% if category.level == 1 %>
                <div class="checkbox">
                    <label>
                        <%= check_box_tag 'category[parent_ids][]', category.id, @category.parent.include?(category), :id => "category_#{category.id}", class: "styled" %>
                        <%= f.label category.name, :for => "category_#{category.id}" %>
                    </label>
                </div>
              <% end %>
          <% end %>
      <% end %>
    </div>
</div>-->