<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>-------- Original message --------</p>
    <p>
      From: <%= @customer_contact.email %>
    </p>
    <p>
      Date: <%= @customer_contact.created_at.in_time_zone("Amsterdam").strftime("%d/%m/%Y %H:%M") %> (GMT+01:00)
    </p>
    <p>
      To: phosaigon52@gmail.com
    </p>
    <p>
      Subject: <%= @customer_contact.message.html_safe %>
    </p>
    
  </body>
</html>
